body {
    background-color: #eee;
}

.container {
    max-width: 1280px;
}

.ts-notes {
    font-size: 0.75rem;
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
}

.ts-notes ul {
    margin-bottom: 0;
}

.ts-notes a {
    color: inherit;
    text-decoration: underline;
}


h1.ts-header {
    padding-top: 30px;
    padding-bottom: 20px;
}

.alert-danger a {
    color: inherit;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .ts-sticky {
        position: sticky;
        top: 48px;
    }
}
